@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header .cabecalho {
    background-color: orange;
    box-shadow: 0 0 10px black;
    margin-bottom:5px;
    height: 90px;
    text-align: center;
    width: 100%;
}
header .cabecalho h1 {
    padding-top: 30px;
}
header nav {
    background-color: darkorange;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
nav li {
    display: inline-block;
    margin: 5px;
}