@charset "UTF-8";

/*----------Fonts----------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Recent Grotesk';
    src: url(../fonts/fonnts.com-Recent_Grotesk_Ultra.otf) format(opentype);
}

/*----------Global----------*/

:root {
    --corh01: #E54B25;
    --corh02: #EC5B24;
    --corh03: #F16527;
    --corh04: #F78733;
    --corh05: #cfcfcf;
    --corh06: #F78733dd;
    --corc00: hsl(203, 100%, 20%);
    --corc01: #0070B8;
    --corc02: #0A7ABF;
    --corc03: #0F8DBF;
    --corc04: #2AA9E0;
    --corc05: #46B8F4;
    --corc06: #46B8F4cc;
    --font01: 'Recent Grotesk';
    --font02: 'nunito';
}
* {
    margin: 0;
    padding: 0;
}
body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
abbr {
    text-decoration: none;
}

/*----------header (todos)----------*/

header #cabecalho {
    background-color: var(--corh03);
    box-shadow: 0 0 10px #00000050;
    width: 100%;
    padding: 10px;
    text-align: center;
}
header #cabecalho img {
    height: 80px;
}
header nav {
    background-color: var(--corh05);
    box-shadow: 0 0 10px #00000050;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
header nav li {
    display: inline-block;
    margin: 8px;
    font-weight: bolder;
    font-size: 1.3em;
}

/*----------Main----------*/

main {
    min-height: 80vh;
    padding: 20px;
    font-family: var(--font02);
    line-height: 1.5em;
    font-weight: 600;
}
main article {
    padding: 20px;
    max-width: 700px;
    margin: auto;
}
main a {
    color: var(--corh01);
    font-weight: 700;
}
main a:hover {
    text-decoration: underline;
}
main h1 {
    text-align: center;
    font-family: var(--font01);
    font-size: 50px;
    padding-bottom: 20px;
}
main h2 {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 900;
}
main p {
    padding: 10px 0;
    text-indent: 15px;
    text-align: justify;
}
main ul {
    padding-left: 20px;
}
main li {
    padding: 5px 0;
    text-align: justify;
}

/*Início*/

main #creditos {
    margin-top: -10px;
}
main #creditos p{
    padding: 0;
    padding-top: -10px;
}

/*Aulas*/

main #conteudo01 {
    background-color: var(--corc06);
}
main #conteudo01 p {
    padding: 0 20px 10px 20px;
    font-size: 1.1em;
}
main #conteudo01 a{
    color: var(--corc00);
}
main #m1 {
    margin-top: 50px;
    background-color: var(--corh06);
}
main #m1 h2 {
    font-family: var(--font01);
    transform: translate(20px, -26px);
}
main #m1 #video {
    text-align: center;
}
main #m1 iframe {
    margin: 10px;
    max-width: 60vw;
    transform: translate(0, -26px);
}

/*----------Footer (Todos)----------*/

footer {
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}